@import '../../index.scss';
.list_screen {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: center;
  .list_container {
    width: 70%;
    .list_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0px;
    }
  }
}

@media all and (max-width: 767px) {
  .list_container {
    width: 90% !important;
  }
  .new_agreement_button {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .tablet_view {
    display: none !important;
  }
  .add_button {
    display: none !important;
  }
}
