@import '../../index.scss';
.landing_page_screen {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  .landing_page_container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .landing_page_text {
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
  }
}
