@import '../../../index.scss';
.navbar_container {
  display: flex;
  border-bottom: 1px solid $primaryBorderColor;
  padding: 20px;
  justify-content: space-between;
  .navbar_logo_container {
    display: flex;
    gap: 20px;
  }
  .navbar_end_container {
    display: flex;
    gap: 30px;
  }
  .navbar_profile_dropdown_container {
    position: absolute;
    background-color: $buttonTextColor;
    right: 50px;
    box-shadow: 0px 5px 5px -3px #00000033;
    box-shadow: 0px 8px 10px 1px #00000024;
    box-shadow: 0px 3px 14px 2px #0000001f;
    border-radius: 4px;
  }
  .navbar_dropdown_info_container {
    padding: 15px 40px 15px 20px;
    border-bottom: 1px solid $primaryBorderColor;
  }
  .navbar_menu_container {
    padding: 15px 40px 15px 20px;
    border-bottom: 1px solid $primaryBorderColor;
  }
  .navbar_menu_wrapper {
    display: flex;
    gap: 10px;
    padding: 8px 0px;
    align-items: center;
  }
  .navbar_logout_container {
    display: flex;
    gap: 10px;
    padding: 15px 40px 15px 20px;
    align-items: center;
  }
  .navbar_dropdown_name {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
  }
  .navbar_dropdown_email {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
  }
  .navbar_menu_text {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
  }
}
