@import '../../index.scss';
.view_screen {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .view_container {
    width: 80%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .view_terms_container {
      width: 65%;
      border: 0.6px solid $secondaryBorderColor;
      height: 100%;
      border-radius: 14px;
      overflow: scroll;
      .view_terms_wrapper {
        padding: 40px;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
      }
    }
    .view_summary_problems_container {
      height: 100%;
      width: 30%;
      .view_summary_problems_wrapper {
        height: 100%;
      }
      .view_grade_container {
        height: 13%;
        display: flex;
        align-items: center;
        padding: 0px 30px;
        color: $buttonTextColor;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 700;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .view_summary_container,
      .view_problems_container {
        height: 50%;
        border: 1px solid $secondaryBorderColor;
        overflow: scroll;
        .view_summary_header,
        .view_problems_header {
          display: flex;
          justify-content: space-between;
          margin: 20px 20px 0px 20px;
          border-bottom: 1px solid $secondaryBorderColor;
          padding-bottom: 10px;
          font-family: 'Roboto';
          font-size: 18px;
          font-weight: 400;
        }
        .view_summary_body,
        .view_problems_body {
          padding: 20px;
          overflow: scroll;
          .view_summary_points,
          .view_problems_points {
            margin: 10px 0px;
            display: flex;
            gap: 10px;
            .view_problems_points_text,
            .view_summary_points_text {
              font-family: 'Roboto';
              font-size: 16px;
              font-weight: 400;
              width: 85%;
            }
          }
        }
      }
      .view_summary_container {
        border-bottom: 0px !important;
      }
      .view_problems_container {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      .view_summary_problems_section {
        height: 87%;
      }
    }
  }
  .view_screen_header {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
    align-items: center;
    .view_back_button_container {
      display: flex;
      cursor: pointer;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 500;
      align-items: center;
      .view_back_button_text {
        padding-bottom: 5px;
        padding-left: 5px;
      }
    }
  }
  .view_summary_warning_icon,
  .view_problems_warning_icon {
    width: 10%;
    text-align: right;
  }
  .view_summary_points_icon,
  .view_problems_points_icon {
    width: 5%;
  }
}
@media all and (max-width: 1300px) {
  .view_screen {
    overflow: scroll;
    height: 90% !important;
    padding: 0px 0px 50px 0px !important;
  }
  .view_container {
    flex-direction: column !important;
    width: 80% !important;
    gap: 30px;
    .view_terms_container {
      width: 100% !important;
      height: 500px !important;
    }
    .view_summary_problems_container {
      width: 100% !important;
      .view_summary_container,
      .view_problems_container {
        height: 300px !important;
      }
    }
  }
  .view_grade_container {
    padding: 30px !important;
  }
}

@media all and (min-width: 1300px) {
  .view_container {
    width: 90% !important;
  }
  .view_screen_header {
    width: 90% !important;
  }
}
